# use this file as a whitelist
*
!assets/caution.png
!backend
!ldm
!pyproject.toml
!README.md
!scripts

# Guard against pulling in any models that might exist in the directory tree
**/*.pt*

# whitelist configs, but ignore models.yaml[.orig]
!configs
configs/models.yaml
configs/models.yaml.orig

# whitelist frontend, but ignore node_modules
!frontend
frontend/node_modules

# ignore python cache
**/__pycache__
**/*.py[cod]
**/*.egg-info
